ion-toolbar {
  ion-title {
    font-size: 20px;
    font-weight: 900;
  }
  ion-icon {
    font-size: 20px;
    --ionicon-stroke-width: 60px;
  }
}

.mobo-slider {
  border-radius: 20px;

  img {
    margin-bottom: -4px;
  }
}

.chips {
  margin: 10px 0;
  overflow-x: scroll;
  display: flex;
  scrollbar-width: none;

  ion-button {
    --border-radius: 30px;
    --padding-end: 20px;
    --padding-start: 20px;
    text-transform: capitalize;
    margin-right: 10px;
  }
}

.chips::-webkit-scrollbar {
  display: none;
}

ion-grid {
  padding: 0;
}

.featured_image {
  min-height: 200px;
  min-width: 165px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.product-section {
  height: 85vh;
}
