<ion-header class="ion-no-border">
  <ion-toolbar color="appbg" mode="md">
    <ion-title>MOBO</ion-title>

    <ion-buttons slot="end" mode="ios">
      <ion-button slot="start">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
      <ion-button slot="end">
        <ion-icon name="bag-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="appbg" [fullscreen]="true" class="ion-padding">
  <section>
    <swiper [config]="config" (slideChange)="onSlideChange($event)">
      <ng-template swiperSlide>
        <img src="../../../assets/images/slider3.jpg" class="mobo-slider" />
      </ng-template>
      <ng-template swiperSlide>
        <img src="../../../assets/images/slider1.jpg" class="mobo-slider" />
      </ng-template>
      <ng-template swiperSlide>
        <img src="../../../assets/images/slider2.jpg" class="mobo-slider" />
      </ng-template>
    </swiper>
  </section>

  <section>
    <div class="chips">
      <ion-button
        *ngFor="let category of categories; let i = index"
        mode="ios"
        [color]="i == 0 ? 'activechip' : 'chip'"
      >
        <ion-label>{{category}}</ion-label>
      </ion-button>
    </div>
  </section>
</ion-content>
