<ion-tabs (ionTabsDidChange)="setCurrentTab($event)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="store">
      <ion-icon
        [name]="currentTab == 'store' ? 'home' : 'home-outline'"
      ></ion-icon>
      <ion-label>Store</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inbox">
      <ion-icon
        [name]="currentTab == 'inbox' ? 'mail' : 'mail-outline'"
      ></ion-icon>
      <ion-label>Inbox</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="wishlist">
      <ion-icon
        [name]="currentTab == 'wishlist' ? 'heart' : 'heart-outline'"
      ></ion-icon>
      <ion-label>Wishlist</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon
        [name]="currentTab == 'account' ? 'person' : 'person-outline'"
      ></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
